.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f4b8b7;
  padding: 10px 50px;
  position: absolute;

  &__text {
    background-color: #f4b8b7;
    margin-right: 5px;
    color: #006678;
    font-family: #006678;
    font-weight: bold;
  }
  &__github {
    background-color: #f4b8b7;
    padding: 5px;
    &--icon {
      color: #006678;
    }
  }
  &__twitter {
    background-color: #f4b8b7;
    padding: 5px;
    &--icon {
      color: #006678;
    }
  }
  &__linkedin {
    background-color: #f4b8b7;
    padding: 5px;
    &--icon {
      color: #006678;
    }
  }
}
