
.main__list {
  display: grid;
  row-gap: 30px;
  margin: 50px 0 0 50px;

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    max-width: 90vw;
  }
  &-item {
    max-width: 90%;
    width: 250px;
    text-decoration: none;
    list-style: none;
    justify-self: center;
    transition: ease 1s all;
    &:hover {
      transform: scale(1.15);
    }
  }
}

.main__errorMessage {
  color: black;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 30px;
 
  
  

}
