.main__list {
    display: grid;
    row-gap: 30px;
    margin-bottom: 50px;
    @media all and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media all and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      max-width: 90vw;
    }
    &-item {
      max-width: 90%;
      width: 250px;
      justify-self: center;
      transition: ease 1s all;
      &:hover {
        transform: scale(1.15);
      }
    }
  }