
.card {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
    width: 18rem;
    margin: 170px 0 20px 0;
    text-align: center;
   
&-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    list-style: none;
  }
  
  &-title {
    margin-bottom: 0.5rem;
  }

}
  .card-img,
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
   position: absolute;
   text-align: center;
   top: -50px;
   width: 70px;
   text-align: center;
   font-weight: bold;
   text-decoration: none;
   transition: 1s ease all;
   font-size: 13px;
   border-radius: 20px;
   background-color: #ff589e;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 0.25px;
   -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
   margin-top: 20px;
   &:hover {
     transform: scale(1.2);
     background-color: #8261ee;
   }
 }